@charset "utf-8";

/* Geral */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    hyphens: auto;
}

body {
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1px;
    height: 100vh;
}

#titulo {
    font-size: 70px;
    margin-bottom: 20px;
    transform: translateY(-20px);
}

/* Gameplay */

#gameplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);
}

#gameplay-cama {
    cursor: pointer;
    user-select: none;
}

#gameplay-num {
    margin: 0 auto;
}

.pontoAnimacao {
    color: green;
    animation: pontoAnimar 2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes pontoAnimar {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

/* Menus */

#menus {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 3px;
    gap: 1rem;
}

#perks {
    display: flex;
    flex-direction: column;
}

#perks-titulo {
    width: 200px;
}

#perks-lista {
    display: flex;
    flex-direction: column;
    padding: 10px 4px;
    background-image: url("../img/pedra.jpg");
    background-position: center;
    background-size: 70%;
}

.perks-item {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 5px;
    gap: 5px;
}

.perks-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.473);
    backdrop-filter: blur(1.2px);
}

.perks-item:hover img {transform: scale(85%);}
.perks-item img {
    width: 44px;
    height: 39px;
    transition: transform 0.2s ease-in-out;
}

.perks-item:hover::before {border: 3px solid rgb(224, 89, 48); }
.perks-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 35px;
    border: 3px solid rgb(41, 41, 41);
    transform: translateX(2.5px);
    transition: border 0.4s ease-out;
}

.perks-item:hover > p {color: rgb(155, 240, 155); transform: translateX(5px);}
.perks-item > p {
    user-select: none;
    color: white;
    font-weight: 700;
    text-shadow: 2px 0px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-out;
}

.perks-item .perk-desc {
    position: absolute;
    transform: translateX(200px);
    background-color: bisque;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.perks-item:hover .perk-desc {
    opacity: 1;
}

#stats {
    display: flex;
    flex-direction: column;
    width: 200px;
}

#stats-tit{
    background-image: url("../img/pedra.jpg");
    background-size: 70%;
    background-position: center;
    height: 150px;
}

#stats-tit::before {
    content: "";
    display: block;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.521);
}

/* Footer */

footer {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
    transform: translateY(-60px);
}

footer h3 {
    display: flex;
    align-items: center;
    flex: 1;
}

#footer-redes_sociais {
    display: flex;
    justify-content: end;
    flex: 1;
    padding: 0 1rem;
}

.footer-redes_sociais-item {
    border-radius: 20%;
    transition: 0.3s;
}

.footer-redes_sociais-item:hover {background-color: lightgray;}
.footer-redes_sociais-item:hover > .footer-icon {
    filter: grayscale(0%);
    transition: filter 0.3s;
}

.footer-icon {
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
}
